<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/sheared/layout">
<head>
    <meta charset="UTF-8">
    <title>Sobuj Somahar</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>Profile
                            <small>Sobuj Somahar Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Settings</li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" th:object="${profile}">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="profile-details text-center">
                            <img th:src="@{'/photos/Profile/'+${profile.photo}}" alt="" class="img-fluid img-90 rounded-circle blur-up lazyloaded">
                            <h5 class="f-w-600 mb-0" th:text="${profile.name}"></h5>
                            <span th:text="${profile.email}"></span>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card tab2-card">
                    <div class="card-body">
                        <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="top-profile-tab" data-toggle="tab" href="#top-profile" role="tab" aria-controls="top-profile" aria-selected="true"><i data-feather="user" class="mr-2"></i>Profile</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="top-tabContent" th:object="${address}">
                            <div class="tab-pane fade show active" id="top-profile" role="tabpanel" aria-labelledby="top-profile-tab">
                                <h5 class="f-w-600">Profile</h5>
                                <div class="table-responsive profile-table">
                                    <table class="table table-responsive">
                                        <tbody>
                                        <tr>
                                            <td>Name:</td>
                                            <td th:text="${profile.name}"></td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td th:text="${profile.email}"></td>
                                        </tr>
                                        <tr>
                                            <td>Mobile Number:</td>
                                            <td th:text="${profile.phone}"></td>
                                        </tr>
                                        <tr>
                                            <td>Address:</td>
                                            <td th:text="${address.address}"></td>
                                        </tr>
                                        <tr>
                                            <td>City:</td>
                                            <td th:text="${address.city}"></td>
                                        </tr>
                                        <tr>
                                            <td>District:</td>
                                            <td th:text="${address.distric}"></td>
                                        </tr>
                                        <tr>
                                            <td>Zip:</td>
                                            <td th:text="${address.zip}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a th:href="@{/admin/profile/edit}" class="btn btn-primary">Edit Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>