<section class="blog ratio2_3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title2">
                    <h4>recent story</h4>
                    <h2 class="title-inner2">latest blog</h2>
                </div>
                <div class="slide-3 no-arrow">
                    <div class="col-md-12">
                        <a href="#">
                            <div class="classic-effect">
                                <div>
                                    <img alt="" src="../assets/images/nursery/11.jpg"
                                         class="img-fluid blur-up lazyload bg-img">
                                </div>
                                <span></span>
                            </div>
                        </a>
                        <div class="blog-details">
                            <h4>25 January 2018</h4>
                            <a href="#">
                                <p>Lorem ipsum dolor sit consectetur adipiscing elit,</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a href="#">
                            <div class="classic-effect">
                                <div>
                                    <img alt="" src="../assets/images/nursery/11.jpg"
                                         class="img-fluid blur-up lazyload bg-img">
                                </div>
                                <span></span>
                            </div>
                        </a>
                        <div class="blog-details">
                            <h4>25 January 2018</h4>
                            <a href="#">
                                <p>Lorem ipsum dolor sit consectetur adipiscing elit,</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a href="#">
                            <div class="classic-effect">
                                <div>
                                    <img alt="" src="../assets/images/nursery/11.jpg"
                                         class="img-fluid blur-up lazyload bg-img">
                                </div>
                                <span></span>
                            </div>
                        </a>
                        <div class="blog-details">
                            <h4>25 January 2018</h4>
                            <a href="#">
                                <p>Lorem ipsum dolor sit consectetur adipiscing elit,</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a href="#">
                            <div class="classic-effect">
                                <div>
                                    <img alt="" src="../assets/images/nursery/11.jpg"
                                         class="img-fluid blur-up lazyload bg-img">
                                </div>
                                <span></span>
                            </div>
                        </a>
                        <div class="blog-details">
                            <h4>25 January 2018</h4>
                            <a href="#">
                                <p>Lorem ipsum dolor sit consectetur adipiscing elit,</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div style="padding: 20px;"></div>