<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/menu.js"></script>
<script src="/assets/js/lazysizes.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/slick.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/bootstrap-notify.min.js"></script>
<script src="/assets/js/script.js"></script>
<script>
    $(window).on('load', function () {
        $('#exampleModal').modal('show');
    });
    function openSearch() {
        document.getElementById("search-overlay").style.display = "block";
    }
    function closeSearch() {
        document.getElementById("search-overlay").style.display = "none";
    }
</script>