<!-- latest jquery-->
<script src="/assets/js/jquery-3.3.1.min.js"></script>

<!-- Bootstrap js-->
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.js"></script>

<!-- feather icon js-->
<script src="/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="/assets/js/icons/feather-icon/feather-icon.js"></script>

<!-- Datatables js-->
<script src="/assets/js/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/js/datatables/custom-basic.js"></script>

<!-- Sidebar jquery-->
<script src="/assets/js/sidebar-menu.js"></script>

<!--chartist js-->
<script src="/assets/js/chart/chartist/chartist.js"></script>

<!--chartjs js-->
<script src="/assets/js/chart/chartjs/chart.min.js"></script>

<!-- lazyload js-->
<script src="/assets/js/lazysizes.min.js"></script>

<!--copycode js-->
<script src="/assets/js/prism/prism.min.js"></script>
<script src="/assets/js/clipboard/clipboard.min.js"></script>
<script src="/assets/js/custom-card/custom-card.js"></script>

<!--counter js-->
<script src="/assets/js/counter/jquery.waypoints.min.js"></script>
<script src="/assets/js/counter/jquery.counterup.min.js"></script>
<script src="/assets/js/counter/counter-custom.js"></script>

<!--peity chart js-->
<script src="/assets/js/chart/peity-chart/peity.jquery.js"></script>

<!--sparkline chart js-->
<script src="/assets/js/chart/sparkline/sparkline.js"></script>

<!--Customizer admin-->
<script src="/assets/js/admin-customizer.js"></script>

<!--dashboard custom js-->
<script src="/assets/js/dashboard/default.js"></script>

<!--right sidebar js-->
<script src="/assets/js/chat-menu.js"></script>

<!--height equal js-->
<script src="/assets/js/height-equal.js"></script>

<!-- lazyload js-->
<script src="/assets/js/lazysizes.min.js"></script>

<!--right sidebar js-->
<script src="../assets/js/chat-menu.js"></script>

<!--script admin-->
<script src="/assets/js/admin-script.js"></script>

<script src="/assets/js/jsgrid/jsgrid.min.js"></script>
<script src="/assets/js/jsgrid/griddata-users.js"></script>
<script src="/assets/js/jsgrid/jsgrid-users.js"></script>


