<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="/assets/js/icons/feather-icon/feather-icon.js"></script>
<script src="/assets/js/sidebar-menu.js"></script>
<script src="/assets/js/chart/chartist/chartist.js"></script>
<script src="/assets/js/chart/chartjs/chart.min.js"></script>
<script src="/assets/js/lazysizes.min.js"></script>
<script src="/assets/js/prism/prism.min.js"></script>
<script src="/assets/js/clipboard/clipboard.min.js"></script>
<script src="/assets/js/custom-card/custom-card.js"></script>
<script src="/assets/js/counter/jquery.waypoints.min.js"></script>
<script src="/assets/js/counter/jquery.counterup.min.js"></script>
<script src="/assets/js/counter/counter-custom.js"></script>
<script src="/assets/js/chart/peity-chart/peity.jquery.js"></script>
<script src="/assets/js/chart/sparkline/sparkline.js"></script>
<script src="/assets/js/admin-customizer.js"></script>
<script src="/assets/js/dashboard/default.js"></script>
<script src="/assets/js/chat-menu.js"></script>
<script src="/assets/js/height-equal.js"></script>
<script src="/assets/js/lazysizes.min.js"></script>
<script src="/assets/js/admin-script.js"></script>