<div class="page-sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="main-header-left d-none d-lg-block">
        <div class="logo-wrapper"><a th:href="@{/admin/}"><img class="blur-up lazyloaded" src="/assets/images/dashboard/logo.png" alt=""></a></div>
    </div>
    <div class="sidebar custom-scrollbar">
        <div class="sidebar-user text-center">
            <div>
                <img class="img-60 rounded-circle lazyloaded blur-up" th:src="@{'/photos/Profile/'+${#request.userPrincipal.principal.photo}}" alt="#">
            </div>
            <h6 class="mt-3 f-14" th:text="${#request.userPrincipal.principal.name}"></h6>
        </div>
        <ul class="sidebar-menu">
            <li><a class="sidebar-header" th:href="@{/admin/}"><i data-feather="home"></i><span>Dashboard</span></a></li>
            <li><a class="sidebar-header" href="#"><i data-feather="box"></i> <span>Products</span><i class="fa fa-angle-right pull-right"></i></a>
                <ul class="sidebar-submenu">
                    <li><a th:href="@{/admin/product/category}"><i class="fa fa-circle"></i>Category</a></li>
                    <li><a th:href="@{/admin/product/list}"><i class="fa fa-circle"></i>Product List</a></li>
                    <li><a th:href="@{/admin/product/add}"><i class="fa fa-circle"></i>Add Product</a></li>
                </ul>
            </li>
            <li><a class="sidebar-header" href=""><i data-feather="dollar-sign"></i><span>Sales</span><i class="fa fa-angle-right pull-right"></i></a>
                <ul class="sidebar-submenu">
                    <li><a href="order.html"><i class="fa fa-circle"></i>Orders</a></li>
                    <li><a href="transactions.html"><i class="fa fa-circle"></i>Transactions</a></li>
                </ul>
            </li>
            <li><a class="sidebar-header" href=""><i data-feather="tag"></i><span>Coupons</span><i class="fa fa-angle-right pull-right"></i></a>
                <ul class="sidebar-submenu">
                    <li><a th:href="@{/admin/coupon/list}"><i class="fa fa-circle"></i>List Coupons</a></li>
                    <li><a th:href="@{/admin/coupon/list}"><i class="fa fa-circle"></i>Create Coupons </a></li>
                </ul>
            </li>
            <li><a class="sidebar-header" href=""><i data-feather="user-plus"></i><span>Users</span><i class="fa fa-angle-right pull-right"></i></a>
                <ul class="sidebar-submenu">
                    <li><a th:href="@{/admin/user/list}"><i class="fa fa-circle"></i>User List</a></li>
                    <li><a th:href="@{/admin/user/create}"><i class="fa fa-circle"></i>Create User</a></li>
                </ul>
            </li>
            <li><a class="sidebar-header" href=""><i data-feather="users"></i><span>Vendors</span><i class="fa fa-angle-right pull-right"></i></a>
                <ul class="sidebar-submenu">
                    <li><a th:href="@{/admin/vendor/list}"><i class="fa fa-circle"></i>Vendor List</a></li>
                    <li><a th:href="@{/admin/vendor/create}"><i class="fa fa-circle"></i>Create Vendor</a></li>
                </ul>
            </li>
            <li><a class="sidebar-header" href=""><i data-feather="settings" ></i><span>Settings</span><i class="fa fa-angle-right pull-right"></i></a>
                <ul class="sidebar-submenu">
                    <li><a th:href="@{/admin/profile}"><i class="fa fa-circle"></i>Profile</a></li>
                </ul>
            </li>
            <li><a class="sidebar-header" th:href="@{/logout}"><i data-feather="log-in"></i><span>Log Out</span></a>
            </li>
        </ul>
    </div>
</div>