<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
      layout:decorator="/user/sheared/layout">
<head>
    <meta charset="UTF-8">
    <title>Sobuj Somahar</title>
</head>
<body class="layout-20">
<div layout:fragment="content">
    <div class="col-lg-9">
        <div class="faq-content tab-content" id="top-tabContent">
            <div class="tab-pane fade show active" id="dashboard">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card dashboard-table">
                            <div class="card-body">
                                <h3>trending products</h3>
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">image</th>
                                        <th scope="col">product name</th>
                                        <th scope="col">price</th>
                                        <th scope="col">sales</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row"><img
                                                src="/assets/images/dashboard/product/1.jpg"
                                                class="blur-up lazyloaded"></th>
                                        <td>neck velvet dress</td>
                                        <td>$205</td>
                                        <td>1000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><img
                                                src="/assets/images/dashboard/product/9.jpg"
                                                class="blur-up lazyloaded"></th>
                                        <td>belted trench coat</td>
                                        <td>$350</td>
                                        <td>800</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><img src="/assets/images/pro3/34.jpg"
                                                             class="blur-up lazyloaded"></th>
                                        <td>man print tee</td>
                                        <td>$150</td>
                                        <td>750</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

